In [1]:
# # This Python 3 environment comes with many helpful analytics libraries installed
# # It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# # For example, here's several helpful packages to load

# import numpy as np # linear algebra
# import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# # Input data files are available in the read-only "../input/" directory
# # For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

# import os
# for dirname, _, filenames in os.walk('/kaggle/input'):
#     for filename in filenames:
#         print(os.path.join(dirname, filename))

# # You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# # You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
import pandas as pd 
import numpy as np

In [3]:
df = pd.read_csv("clean_sales_data.csv")
df.head()

,item_id,store_id,effective_price,discount,quantity,sum_total,sale_date,city,area,channel,class_name_en,day_of_week,month
0,25b90ccff724,1,14.99,0.0,1.0,14.99,2022-08-28,City1,1500,online,WHITE BLOW,6,8
1,3c848fb99709,1,289.90,45.1,1.0,289.90,2022-08-28,City1,1500,physical,COMMODITIES,6,8
2,d24c0c230852,1,79.90,0.0,1.0,79.90,2022-08-28,City1,1500,physical,COMMODITIES FOR SIDE AND TOURISM,6,8
3,bdde73532647,1,39.90,0.0,3.0,119.70,2022-08-28,City1,1500,physical,"TANKS, SUKARI, BARANKS",6,8
4,1b9b6b014511,1,59.90,8.0,4.0,239.60,2022-08-28,City1,1500,physical,SPECIFIC,6,8

In [4]:
df['sale_date'] = pd.to_datetime(df['sale_date'])
df['year'] = df['sale_date'].dt.year

In [5]:
df.head()

,item_id,store_id,effective_price,discount,quantity,sum_total,sale_date,city,area,channel,class_name_en,day_of_week,month,year
0,25b90ccff724,1,14.99,0.0,1.0,14.99,2022-08-28,City1,1500,online,WHITE BLOW,6,8,2022
1,3c848fb99709,1,289.90,45.1,1.0,289.90,2022-08-28,City1,1500,physical,COMMODITIES,6,8,2022
2,d24c0c230852,1,79.90,0.0,1.0,79.90,2022-08-28,City1,1500,physical,COMMODITIES FOR SIDE AND TOURISM,6,8,2022
3,bdde73532647,1,39.90,0.0,3.0,119.70,2022-08-28,City1,1500,physical,"TANKS, SUKARI, BARANKS",6,8,2022
4,1b9b6b014511,1,59.90,8.0,4.0,239.60,2022-08-28,City1,1500,physical,SPECIFIC,6,8,2022

In [6]:
# Find negative numerical values in numerical columns
negative_values = (df.select_dtypes(include=['number']) < 0).sum()
negative_values

store_id              0
effective_price       4
discount              0
quantity           1155
sum_total          1154
area                  0
day_of_week           0
month                 0
year                  0
dtype: int64

In [7]:
# Filter rows where any numerical column has a negative value
df[df.select_dtypes(include=['number']).lt(0).any(axis=1)]

,item_id,store_id,effective_price,discount,quantity,sum_total,sale_date,city,area,channel,class_name_en,day_of_week,month,year
1659,947dc1d486a8,1,349.9,30.0,-1.000,-349.9000,2022-08-28,City1,1500,physical,CONFET BACKGROUND FACILITIES,6,8,2022
10890,55eb405a63a2,1,779.0,0.0,-1.000,-779.0000,2022-08-29,City1,1500,physical,Green,0,8,2022
12435,4bfdba2fc912,3,1199.9,0.0,-0.795,-953.9205,2022-08-29,City2,109,physical,ANNUALS,0,8,2022
17177,7e7bd3dab69d,1,69.9,10.0,-1.000,-69.9000,2022-08-30,City1,1500,physical,"MARMELADE, ZEFIR, PASTYLA, SUFLE",1,8,2022
22320,8644fb818518,1,40.3,0.0,-1.000,-40.3000,2022-08-30,City1,1500,physical,CHLEBTS,1,8,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8388825,d68265ff2ef9,1,1349.0,0.0,-0.038,-51.2620,2024-09-18,City1,1500,physical,WEIGHT,2,9,2024
8411937,1e7234b451fa,1,139.9,80.0,-1.000,-139.9000,2024-09-19,City1,1500,physical,SHOCOLAD,3,9,2024
8459348,bda092921494,1,239.9,20.0,-0.642,-154.0158,2024-09-23,City1,1500,physical,"CUTS, REFRIGERATED",0,9,2024
8472285,58271d903051,3,64.9,0.0,-1.000,-64.9000,2024-09-23,City2,109,physical,SHORT,0,9,2024
8513735,8db850cb9f41,4,229.9,60.0,-1.000,-229.9000,2024-09-26,City3,1887,physical,CHEERING,3,9,2024

In [8]:
# Drop rows where any numerical column has a negative value
df = df[~(df.select_dtypes(include=['number']) < 0).any(axis=1)]

# Reset index after dropping
df.reset_index(drop=True, inplace=True)

### Feature Engineering

#### 1. Time-Based Features

Sales data is affected by seasonality. Extracting time-based features helps capture these trends.

**How?**
- Day, Week, and Quarter: Help identify cyclical patterns.
- Weekend Indicator: Certain products see higher demands on weekends.

In [9]:
df.loc[:, 'week'] = df['sale_date'].dt.isocalendar().week
df.loc[:, 'quarter'] = df['sale_date'].dt.quarter
df.loc[:, 'weekend'] = df['day_of_week'].isin([5, 6]).astype(bool)  # Explicitly cast to boolean

In [10]:
df.head()

,item_id,store_id,effective_price,discount,quantity,sum_total,sale_date,city,area,channel,class_name_en,day_of_week,month,year,week,quarter,weekend
0,25b90ccff724,1,14.99,0.0,1.0,14.99,2022-08-28,City1,1500,online,WHITE BLOW,6,8,2022,34,3,True
1,3c848fb99709,1,289.90,45.1,1.0,289.90,2022-08-28,City1,1500,physical,COMMODITIES,6,8,2022,34,3,True
2,d24c0c230852,1,79.90,0.0,1.0,79.90,2022-08-28,City1,1500,physical,COMMODITIES FOR SIDE AND TOURISM,6,8,2022,34,3,True
3,bdde73532647,1,39.90,0.0,3.0,119.70,2022-08-28,City1,1500,physical,"TANKS, SUKARI, BARANKS",6,8,2022,34,3,True
4,1b9b6b014511,1,59.90,8.0,4.0,239.60,2022-08-28,City1,1500,physical,SPECIFIC,6,8,2022,34,3,True

### 2. Lag Features (Previous Sales Data As Features)

**What are Lag Features**

Lag features are past values of a time-series variable used as input features for a machine learning model to predict future values. They help capture temporal dependencies in data, making them crucial for time-series forecasting, such as sales demand prediction.

**Why?**

Past sales often influence future demand. If a product sold well last week, it may sell well this week too.

**How?**

- **Lagging 1 day:** Captures immediate trends (yesterday's high sales may indicate today's demand).
- **Lagging 7 days:** Captures weekly seasonality (demand spikes every Friday).
- **Lagging 30 days:** Captures monthly trends (salary-based purchases at month-end).

In [11]:
df.loc[:, 'quantity_lag_1'] = df.groupby(['item_id', 'store_id'])['quantity'].shift(1).fillna(0)
df.loc[:, 'quantity_lag_7'] = df.groupby(['item_id', 'store_id'])['quantity'].shift(7).fillna(0)
df.loc[:, 'quantity_lag_30'] = df.groupby(['item_id', 'store_id'])['quantity'].shift(30).fillna(0)

In [12]:
df.sample(10)

,item_id,store_id,effective_price,discount,quantity,sum_total,sale_date,city,area,channel,class_name_en,day_of_week,month,year,week,quarter,weekend,quantity_lag_1,quantity_lag_7,quantity_lag_30
7156255,a30df505e986,4,149.00,0.0,1.000,149.00000,2024-06-29,City3,1887,online,UPAC'S DRINKS.,5,6,2024,26,2,True,10.000,11.000,2.00
7458852,72d52ac7f38d,4,52.90,10.0,23.000,1216.70000,2024-07-19,City3,1887,physical,JOGURTS,4,7,2024,29,3,False,24.000,15.000,2.00
4378834,4326c1e6ddb8,4,129.90,0.0,2.000,259.80000,2023-12-31,City3,1887,physical,BUMAGE PRODUCE,6,12,2023,52,4,True,9.000,2.000,0.00
3251747,5835652b303f,1,47.00,0.0,1.000,47.00000,2023-09-05,City1,1500,physical,GASES,1,9,2023,36,3,False,1.000,1.000,2.00
5620683,8afd159fe07d,4,749.00,0.0,7.268,5443.73200,2024-03-24,City3,1887,physical,MANGAL,6,3,2024,12,1,True,13.354,0.172,7.06
3532880,26dfb6d2c253,1,129.90,20.0,1.000,129.90000,2023-10-08,City1,1500,physical,SINGING,6,10,2023,40,4,True,1.000,2.000,2.00
1466426,58200e2df3e3,1,79.90,10.0,2.000,159.80000,2023-02-13,City1,1500,physical,WAFLEY,0,2,2023,7,1,False,1.000,2.000,1.00
5235315,557d99d36d65,2,99.90,0.0,1.000,99.90000,2024-02-28,City1,210,physical,SINGING,2,2,2024,9,1,False,2.000,1.000,2.00
6539583,9762aeed4f0c,4,79.90,0.0,1.000,79.90000,2024-05-21,City3,1887,physical,"TANKS, SUKARI, BARANKS",1,5,2024,21,2,False,1.000,1.000,1.00
4187291,7a015abdcc22,4,283.01,0.0,0.915,258.95415,2023-12-19,City3,1887,online,"SMALL DELICATIES, VARIOUS, COMMERCIAL,",1,12,2023,51,4,False,2.335,0.000,0.00

- `shift(n)` moves values downwards by `n` steps within each group.
- The first `n` rows in each group have no past data, so Pandas fills them with `NaN`.
- `fillna(0)` replaces the `NaN` values with `0`.

### 3. Rolling Statistics (Trend & Seasonality)

**Why?**

Instead of relying on a single day's past sales, rolling statistics smooths out trends and highlights volatility.

**How?**

- **Rolling Mean:** Shows the average demand over a period (eg, last 7 days).
- **Rolling Std:** Measures demand fluctuations (eg, is demand stable or highly variable?)
- **Expanding Mean:** Tracks long-term sales growth.

*Trends are more reliable when observed over time.*

In [13]:
df.loc[:, 'rolling_mean_7'] = df.groupby(['item_id', 'store_id'])['quantity'].transform(lambda x: x.shift(1).rolling(7).mean()).fillna(0)
df.loc[:, 'rolling_mean_14'] = df.groupby(['item_id', 'store_id'])['quantity'].transform(lambda x: x.shift(1).rolling(14).mean()).fillna(0)
df.loc[:, 'rolling_mean_30'] = df.groupby(['item_id', 'store_id'])['quantity'].transform(lambda x: x.shift(1).rolling(30).mean()).fillna(0)
df.loc[:, 'rolling_std_7'] = df.groupby(['item_id', 'store_id'])['quantity'].transform(lambda x: x.shift(1).rolling(7).std()).fillna(0)
df.loc[:, 'rolling_std_14'] = df.groupby(['item_id', 'store_id'])['quantity'].transform(lambda x: x.shift(1).rolling(14).std()).fillna(0)
df.loc[:, 'rolling_std_30'] = df.groupby(['item_id', 'store_id'])['quantity'].transform(lambda x: x.shift(1).rolling(30).std()).fillna(0)
df.loc[:, 'expanding_mean'] = df.groupby(['item_id', 'store_id'])['quantity'].transform(lambda x: x.expanding().mean())

- **Rolling Mean** helps capture local trends over a moving window(eg, weekly trends).
- **Rolling Std** captures sales volatility.
- **Expanding Mean** captures long-term trends.

In [14]:
df.head(10)

,item_id,store_id,effective_price,discount,quantity,sum_total,sale_date,city,area,channel,...,quantity_lag_1,quantity_lag_7,quantity_lag_30,rolling_mean_7,rolling_mean_14,rolling_mean_30,rolling_std_7,rolling_std_14,rolling_std_30,expanding_mean
0,25b90ccff724,1,14.99,0.0,1.0,14.99,2022-08-28,City1,1500,online,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,3c848fb99709,1,289.90,45.1,1.0,289.90,2022-08-28,City1,1500,physical,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,d24c0c230852,1,79.90,0.0,1.0,79.90,2022-08-28,City1,1500,physical,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,bdde73532647,1,39.90,0.0,3.0,119.70,2022-08-28,City1,1500,physical,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
4,1b9b6b014511,1,59.90,8.0,4.0,239.60,2022-08-28,City1,1500,physical,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
5,5e9f6552e127,1,169.90,0.0,3.0,509.70,2022-08-28,City1,1500,physical,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
6,7bac877005e7,1,149.90,40.0,1.0,149.90,2022-08-28,City1,1500,physical,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
7,fae480ccf9cb,1,44.90,0.0,1.0,44.90,2022-08-28,City1,1500,physical,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
8,5cb50337b463,1,499.90,0.0,1.0,499.90,2022-08-28,City1,1500,physical,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9,c83a1d441b0f,1,241.00,0.0,1.0,241.00,2022-08-28,City1,1500,physical,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

### 4. Price & Discount Features

**Why?**

Price changes and discounts directly influence sales. Customers tend to buy more during promotions.

**How?**

- **Discount Rate:** Measures how much a product's price was reduced.
- **Discount Effect:** Shows the relationship between discounts and quantity sold.

*Customers Love Discounts*

In [15]:
df.loc[:, 'discount_rate'] = df['discount'] / (df['effective_price'] + 1e-5) # Avoid division by 0
df.loc[:, 'discount_effect'] = df['quantity'] * df['discount_rate'] # How much discount influences sales

In [16]:
df.sample(10)

,item_id,store_id,effective_price,discount,quantity,sum_total,sale_date,city,area,channel,...,quantity_lag_30,rolling_mean_7,rolling_mean_14,rolling_mean_30,rolling_std_7,rolling_std_14,rolling_std_30,expanding_mean,discount_rate,discount_effect
2115092,89264c1d60a4,1,219.9,30.0,1.800,395.8200,2023-04-26,City1,1500,physical,...,4.415,2.113857,2.088714,2.191733,1.180369,0.996704,1.305727,1.777997,0.136426,0.245566
6915595,c9ae69de324d,1,199.9,0.0,2.000,399.8000,2024-06-14,City1,1500,online,...,1.000,2.142857,2.285714,2.266667,0.899735,1.138729,1.257620,1.932161,0.000000,0.000000
6509350,d9a2451e252b,3,999.9,750.0,2.000,1999.8000,2024-05-19,City2,109,physical,...,1.000,1.857143,1.642857,1.500000,1.069045,0.928783,0.776819,1.544304,0.750075,1.500150
3208719,7a88a2ff020d,1,39.5,3.0,13.000,513.5000,2023-08-31,City1,1500,physical,...,1.000,10.142857,11.428571,13.400000,8.214389,7.175967,9.608186,10.522314,0.075949,0.987342
861020,0860b9a0eb0c,1,219.9,30.0,0.165,36.2835,2022-12-06,City1,1500,physical,...,1.710,0.498714,0.529071,0.583333,0.235169,0.242646,0.388907,0.576500,0.136426,0.022510
5930619,0a5d000cd803,4,105.5,0.0,5.000,527.5000,2024-04-12,City3,1887,physical,...,8.000,6.285714,5.928571,5.933333,4.423961,3.950935,4.346488,6.913043,0.000000,0.000000
3344023,c75da376a5a1,1,21.9,8.0,1.000,21.9000,2023-09-16,City1,1500,online,...,3.000,7.142857,7.428571,6.000000,5.398412,5.734032,4.996551,5.453875,0.365297,0.365297
5344215,0062dbaa1e6e,1,239.9,10.0,1.000,239.9000,2024-03-06,City1,1500,online,...,1.000,1.714286,1.500000,2.200000,0.951190,0.854850,1.882771,3.144144,0.041684,0.041684
7858958,36821ce2287c,1,39.9,0.0,1.000,39.9000,2024-08-14,City1,1500,physical,...,6.000,2.428571,2.285714,2.666667,2.225395,1.728876,2.089932,1.596447,0.000000,0.000000
4866157,5e2a46d8d70c,3,159.9,0.0,1.000,159.9000,2024-02-03,City2,109,physical,...,2.000,1.571429,1.357143,1.366667,1.133893,0.841897,0.718395,1.175000,0.000000,0.000000

In [17]:
df.columns

Index(['item_id', 'store_id', 'effective_price', 'discount', 'quantity',
       'sum_total', 'sale_date', 'city', 'area', 'channel', 'class_name_en',
       'day_of_week', 'month', 'year', 'week', 'quarter', 'weekend',
       'quantity_lag_1', 'quantity_lag_7', 'quantity_lag_30', 'rolling_mean_7',
       'rolling_mean_14', 'rolling_mean_30', 'rolling_std_7', 'rolling_std_14',
       'rolling_std_30', 'expanding_mean', 'discount_rate', 'discount_effect'],
      dtype='object')

### 5. Store Features

In [18]:
df.loc[:, 'store_avg_sales'] = df.groupby('store_id')['quantity'].transform('mean')
df.loc[:, 'city_avg_sales'] = df.groupby('city')['quantity'].transform('mean')

In [19]:
df.head(10)

,item_id,store_id,effective_price,discount,quantity,sum_total,sale_date,city,area,channel,...,rolling_mean_14,rolling_mean_30,rolling_std_7,rolling_std_14,rolling_std_30,expanding_mean,discount_rate,discount_effect,store_avg_sales,city_avg_sales
0,25b90ccff724,1,14.99,0.0,1.0,14.99,2022-08-28,City1,1500,online,...,0.0,0.0,0.0,0.0,0.0,1.0,0.000000,0.000000,5.492852,5.076211
1,3c848fb99709,1,289.90,45.1,1.0,289.90,2022-08-28,City1,1500,physical,...,0.0,0.0,0.0,0.0,0.0,1.0,0.155571,0.155571,5.492852,5.076211
2,d24c0c230852,1,79.90,0.0,1.0,79.90,2022-08-28,City1,1500,physical,...,0.0,0.0,0.0,0.0,0.0,1.0,0.000000,0.000000,5.492852,5.076211
3,bdde73532647,1,39.90,0.0,3.0,119.70,2022-08-28,City1,1500,physical,...,0.0,0.0,0.0,0.0,0.0,3.0,0.000000,0.000000,5.492852,5.076211
4,1b9b6b014511,1,59.90,8.0,4.0,239.60,2022-08-28,City1,1500,physical,...,0.0,0.0,0.0,0.0,0.0,4.0,0.133556,0.534224,5.492852,5.076211
5,5e9f6552e127,1,169.90,0.0,3.0,509.70,2022-08-28,City1,1500,physical,...,0.0,0.0,0.0,0.0,0.0,3.0,0.000000,0.000000,5.492852,5.076211
6,7bac877005e7,1,149.90,40.0,1.0,149.90,2022-08-28,City1,1500,physical,...,0.0,0.0,0.0,0.0,0.0,1.0,0.266845,0.266845,5.492852,5.076211
7,fae480ccf9cb,1,44.90,0.0,1.0,44.90,2022-08-28,City1,1500,physical,...,0.0,0.0,0.0,0.0,0.0,1.0,0.000000,0.000000,5.492852,5.076211
8,5cb50337b463,1,499.90,0.0,1.0,499.90,2022-08-28,City1,1500,physical,...,0.0,0.0,0.0,0.0,0.0,1.0,0.000000,0.000000,5.492852,5.076211
9,c83a1d441b0f,1,241.00,0.0,1.0,241.00,2022-08-28,City1,1500,physical,...,0.0,0.0,0.0,0.0,0.0,1.0,0.000000,0.000000,5.492852,5.076211

In [20]:
df.columns

Index(['item_id', 'store_id', 'effective_price', 'discount', 'quantity',
       'sum_total', 'sale_date', 'city', 'area', 'channel', 'class_name_en',
       'day_of_week', 'month', 'year', 'week', 'quarter', 'weekend',
       'quantity_lag_1', 'quantity_lag_7', 'quantity_lag_30', 'rolling_mean_7',
       'rolling_mean_14', 'rolling_mean_30', 'rolling_std_7', 'rolling_std_14',
       'rolling_std_30', 'expanding_mean', 'discount_rate', 'discount_effect',
       'store_avg_sales', 'city_avg_sales'],
      dtype='object')

In [22]:
df = df.loc[:, ['quantity', 'item_id', 'store_id', 'day_of_week', 'weekend', 'week', 'month', 'quarter', 'rolling_mean_7', 'rolling_std_7', 
                'rolling_mean_14', 'rolling_mean_30', 'rolling_std_14', 'rolling_std_30', 'expanding_mean', 'year', 'sale_date']]

In [23]:
df.head()

,quantity,item_id,store_id,day_of_week,weekend,week,month,quarter,rolling_mean_7,rolling_std_7,rolling_mean_14,rolling_mean_30,rolling_std_14,rolling_std_30,expanding_mean,year,sale_date
0,1.0,25b90ccff724,1,6,True,34,8,3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2022,2022-08-28
1,1.0,3c848fb99709,1,6,True,34,8,3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2022,2022-08-28
2,1.0,d24c0c230852,1,6,True,34,8,3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2022,2022-08-28
3,3.0,bdde73532647,1,6,True,34,8,3,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2022,2022-08-28
4,4.0,1b9b6b014511,1,6,True,34,8,3,0.0,0.0,0.0,0.0,0.0,0.0,4.0,2022,2022-08-28

In [27]:
df['year'].unique()

array([2022, 2023, 2024], dtype=int64)

In [24]:
df.to_csv("feature_eng.csv", index=False)