# Problem statement
- OBJECTIVE: Forecast customer demand based on historical sales and related data from a retailer.
             The goal of this competition is to develop a model that predicts customer demand for a given set of products across multiple stores. Your predictions will help optimize stock management and reduce operational inefficiencies.

- KEY QUESTIONS: What is the goal?
                 What will the success criteria? The competition uses Root Mean Squared Error (RMSE) as the evaluation metric.

# Data Understanding
- Data description: The dataset consists of sales information, price changes, promotions, markdowns, and product catalog details.
- Data Sources: Kaggle - https://www.kaggle.com/competitions/ml-zoomcamp-2024-competition/data 
- Data timeline : 25 months of sales data from four stores and predict the demand for products in the next month.

# Explore data

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sys
import argparse

# Function to display csv file

In [4]:
sales_df = pd.read_csv('C:/Users/angel/OneDrive/Desktop/project/Data/ml-zoomcamp-2024-competition/sales.csv')
sales_df.head(10)

,Unnamed: 0,date,item_id,quantity,price_base,sum_total,store_id
0,0,2023-08-04,293375605257,1.000,47.86,47.86,1
1,1,2023-08-04,a66fdf2c0ae7,3.000,49.60,148.80,1
2,2,2023-08-04,daa46ef49b7a,0.822,379.00,311.54,1
3,3,2023-08-04,a3b49c1bf758,1.000,129.00,129.00,1
4,4,2023-08-04,ab611c5cef62,7.000,79.90,559.30,1
5,5,2023-08-04,be3b7250209f,1.000,129.90,129.90,1
6,6,2023-08-04,651c34ed4958,1.000,89.90,89.90,1
7,7,2023-08-04,7390a33d7f34,2.000,119.90,239.80,1
8,8,2023-08-04,d2f975315972,1.000,89.90,89.90,1
9,9,2023-08-04,d788cc0f8e2a,5.000,159.90,799.50,1

In [5]:
online_df = pd.read_csv('C:/Users/angel/OneDrive/Desktop/project/Data/ml-zoomcamp-2024-competition/online.csv')
online_df.head(10)

,Unnamed: 0,date,item_id,quantity,price_base,sum_total,store_id
0,0,2023-08-04,4aa8dbe05246,3.0,12.40,37.21,1
1,1,2023-08-04,4e0fbcf99cf9,2.0,56.27,112.54,1
2,2,2023-08-04,2e008b673129,2.0,56.27,112.54,1
3,3,2023-08-04,49db9c973903,1.0,29.94,29.94,1
4,4,2023-08-04,9d6072422e8e,1.0,80.10,80.10,1
5,5,2023-08-04,78a8896d4474,6.0,39.37,236.22,1
6,6,2023-08-04,c2fd24440a04,4.0,68.37,273.48,1
7,7,2023-08-04,4c6516857bde,4.0,41.25,165.00,1
8,8,2023-08-04,de8029f45575,7.0,22.70,158.90,1
9,9,2023-08-04,3a4698a8b016,3.0,9.44,28.32,1

In [6]:
markdown_df = pd.read_csv('C:/Users/angel/OneDrive/Desktop/project/Data/ml-zoomcamp-2024-competition/markdowns.csv')
markdown_df.head(10)

,Unnamed: 0,date,item_id,normal_price,price,quantity,store_id
0,0,2023-08-01,bc2f82a22e11,189.0,100.0,8.0,1
1,1,2023-08-01,389412076801,179.0,100.0,5.0,1
2,2,2023-08-01,0e39cf5d57c1,149.0,100.0,5.0,1
3,3,2023-08-01,dd94e2bc5601,149.0,100.0,1.0,1
4,4,2023-08-01,e60d890f2812,369.0,270.0,1.0,1
5,5,2023-08-01,fb45888e228e,589.0,350.0,1.0,1
6,6,2023-08-02,0e39cf5d57c1,149.0,100.0,3.0,1
7,7,2023-08-02,fb45888e228e,589.0,350.0,6.0,1
8,8,2023-08-03,bc2f82a22e11,189.0,100.0,1.0,1
9,9,2023-08-03,389412076801,179.0,100.0,1.0,1

In [7]:
price_history_df = pd.read_csv('C:/Users/angel/OneDrive/Desktop/project/Data/ml-zoomcamp-2024-competition/price_history.csv')
price_history_df.head(10)

   Unnamed: 0        date       item_id   price        code  store_id
0           0  2023-08-01  4a1f95fe4d4b   499.9           1         1
1           1  2023-08-01  bf43a9d3ae13     0.0  9999999999         1
2           2  2023-08-01  0dd8744decce   129.9           1         1
3           3  2023-08-01  9b38c7e4dba9   136.0           1         1
4           4  2023-08-01  b791e8c9347c     0.0           1         1
5           5  2023-08-01  57cc87885c37    59.9           1         1
6           6  2023-08-01  6e17239c7ecd  1599.0           1         1
7           7  2023-08-01  5daf42ae04ce     0.0           1         1
8           8  2023-08-01  959b6900b112    15.0           7         1
9           9  2023-08-01  7a35b74fbf8d    15.0           7         1

In [8]:
discount_history_df = pd.read_csv('C:/Users/angel/OneDrive/Desktop/project/Data/ml-zoomcamp-2024-competition/discounts_history.csv')
discount_history_df.head(10)

,Unnamed: 0,date,item_id,sale_price_before_promo,sale_price_time_promo,promo_type_code,doc_id,number_disc_day,store_id
0,3648316,2022-08-28,cde97a9ec3ef,729.9,669.9,6.0,89ea9f0c-1c08-11ed-ad4d-005056861040,13.0,1
1,3648317,2022-08-28,2906fbc9e11c,129.9,99.9,NaN,039e85df-1e51-11ed-ad4d-005056861040,11.0,1
2,3648318,2022-08-28,c48c3a3d8c01,129.9,99.9,NaN,039e85df-1e51-11ed-ad4d-005056861040,11.0,1
3,3648319,2022-08-28,f85243ca61e6,129.9,99.9,NaN,039e85df-1e51-11ed-ad4d-005056861040,11.0,1
4,3648320,2022-08-28,27ce75534065,129.9,99.9,NaN,039e85df-1e51-11ed-ad4d-005056861040,11.0,1
5,3648321,2022-08-28,f797615b8da3,129.9,99.9,NaN,039e85df-1e51-11ed-ad4d-005056861040,11.0,1
6,3648322,2022-08-28,5335e6283ff2,119.9,99.9,6.0,13093a82-1e51-11ed-ad4d-005056861040,11.0,1
7,3648323,2022-08-28,895f92853c33,149.9,109.9,NaN,039e85df-1e51-11ed-ad4d-005056861040,11.0,1
8,3648324,2022-08-28,b80dbdf1b15b,149.9,109.9,NaN,039e85df-1e51-11ed-ad4d-005056861040,11.0,1
9,3648325,2022-08-28,bc866cb31ccf,109.9,79.9,5.0,281b37f8-1e51-11ed-ad4d-005056861040,11.0,1

In [9]:
actual_matrix_df = pd.read_csv('C:/Users/angel/OneDrive/Desktop/project/Data/ml-zoomcamp-2024-competition/actual_matrix.csv')
actual_matrix_df.head(10)

   Unnamed: 0       item_id        date  store_id
0           0  c578da8e8841  2019-10-17         1
1           1  4dd2b686802c  2019-10-17         1
2           2  16ade2e3fca9  2019-10-17         1
3           3  f4eb16dab09e  2019-10-17         1
4           4  ab1384c2af6d  2020-05-31         1
5           5  d18a00e52f60  2019-10-17         1
6           6  4aa8dbe05246  2022-02-08         1
7           7  704ce9e6f97e  2019-10-17         1
8           8  d83dd928639b  2019-10-17         1
9           9  7ca30789880f  2019-10-17         1

In [10]:
print(f"Sales done in person",sales_df.isna().sum())
print(f"Sales online",online_df.isna().sum())
print(f"markdown",markdown_df.isna().sum())
print(f"Price history",price_history_df.isna().sum())
print(f"Discount history",discount_history_df.isna().sum())
print(f"Actual Matrix",actual_matrix_df.isna().sum())

Sales done in person Unnamed: 0    0
date          0
item_id       0
quantity      0
price_base    0
sum_total     0
store_id      0
dtype: int64
Sales online Unnamed: 0    0
date          0
item_id       0
quantity      0
price_base    0
sum_total     0
store_id      0
dtype: int64
markdown Unnamed: 0      0
date            0
item_id         0
normal_price    0
price           0
quantity        0
store_id        0
dtype: int64
Price history Unnamed: 0    0
date          0
item_id       0
price         0
code          0
store_id      0
dtype: int64
Discount history Unnamed: 0                      0
date                            0
item_id                         0
sale_price_before_promo         0
sale_price_time_promo           0
promo_type_code            317846
doc_id                          0
number_disc_day                 0
store_id                        0
dtype: int64
Actual Matrix Unnamed: 0    0
item_id       0
date          0
store_id      0
dtype: int64

In [11]:
print(f'Sales dtype',sales_df.info())
print(f'Online dtype',online_df.info())
print(f'Markdown dtype',markdown_df.info())
print(f'Price History dtype',price_history_df.info())
print(f'Discount History dtype',discount_history_df.info())
print(f'Actual Matrix dtype',actual_matrix_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7432685 entries, 0 to 7432684
Data columns (total 7 columns):
 #   Column      Dtype
---  ------      -----
 0   Unnamed: 0  int64
 1   date        object
 2   item_id     object
 3   quantity    float64
 4   price_base  float64
 5   sum_total   float64
 6   store_id    int64
dtypes: float64(3), int64(2), object(2)
memory usage: 396.9+ MB
Sales dtype None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1123412 entries, 0 to 1123411
Data columns (total 7 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   Unnamed: 0  1123412 non-null  int64
 1   date        1123412 non-null  object
 2   item_id     1123412 non-null  object
 3   quantity    1123412 non-null  float64
 4   price_base  1123412 non-null  float64
 5   sum_total   1123412 non-null  float64
 6   store_id    1123412 non-null  int64
dtypes: float64(3), int64(2), object(2)
memory usage: 60.0+ MB
Online dtype None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8979 entries, 0 to 8978
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    8979 non-null   int64
 1   date          8979 non-null   object
 2   item_id       8979 non-null   object
 3   normal_price  8979 non-null   float64
 4   price         8979 non-null   float64
 5   quantity      8979 non-null   float64
 6   store_id      8979 non-null   int64
dtypes: float64(3), int64(2), object(2)
memory usage: 491.2+ KB
Markdown dtype None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 698626 entries, 0 to 698625
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  698626 non-null  int64
 1   date        698626 non-null  object
 2   item_id     698626 non-null  object
 3   price       698626 non-null  float64
 4   code        698626 non-null  int64
 5   store_id    698626 non-null  int64
dtypes: float64(1), int64(3), object(2)
memory usage: 32.0+ MB
Price History dtype None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3746744 entries, 0 to 3746743
Data columns (total 9 columns):
 #   Column                   Dtype
---  ------                   -----
 0   Unnamed: 0               int64
 1   date                     object
 2   item_id                  object
 3   sale_price_before_promo  float64
 4   sale_price_time_promo    float64
 5   promo_type_code          float64
 6   doc_id                   object
 7   number_disc_day          float64
 8   store_id                 int64
dtypes: float64(4), int64(2), object(3)
memory usage: 257.3+ MB
Discount History dtype None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35202 entries, 0 to 35201
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  35202 non-null  int64
 1   item_id     35202 non-null  object
 2   date        35202 non-null  object
 3   store_id    35202 non-null  int64
dtypes: int64(2), object(2)
memory usage: 1.1+ MB
Actual Matrix dtype None

# Potential biases or imbalances

In [12]:
# Function to check potential biases or imbalances
def check_biases_imbalances(df, dataset_name):
    print(f"Dataset: {dataset_name}")
    print("Missing values:")
    print(df.isna().sum())
    print("\nColumn value counts (for categorical columns):")
    for col in df.select_dtypes(include=['object', 'category']).columns:
        print(f"\n{col} value counts:")
        print(df[col].value_counts().head(10))  # Display top 10 most frequent values
    print("\nSummary statistics (for numerical columns):")
    print(df.describe())
    print("\n" + "-"*50 + "\n")

# Check biases or imbalances for each dataset
check_biases_imbalances(sales_df, "Sales DataFrame")
check_biases_imbalances(online_df, "Online Sales DataFrame")
check_biases_imbalances(markdown_df, "Markdown DataFrame")
check_biases_imbalances(price_history_df, "Price History DataFrame")
check_biases_imbalances(discount_history_df, "Discount History DataFrame")
check_biases_imbalances(actual_matrix_df, "Actual Matrix DataFrame")

Dataset: Sales DataFrame
Missing values:
Unnamed: 0    0
date          0
item_id       0
quantity      0
price_base    0
sum_total     0
store_id      0
dtype: int64

Column value counts (for categorical columns):

date value counts:
date
2023-12-30    16410
2023-12-29    15920
2024-04-27    15583
2024-03-07    15531
2024-02-22    15452
2024-04-12    15283
2024-05-04    15267
2024-05-08    15208
2024-04-19    15152
2024-04-13    15089
Name: count, dtype: int64

item_id value counts:
item_id
e5b2b6f57ea7    2571
2c007023f650    2570
23b18d1f7da9    2569
0973df3ff57f    2565
99d388c37359    2563
d9f5cbd8e676    2561
f1eb9c33424e    2551
b4f43c361b93    2549
6d284b4e9982    2547
58447f11c3b0    2545
Name: count, dtype: int64

Summary statistics (for numerical columns):
         Unnamed: 0      quantity    price_base     sum_total      store_id
count  7.432685e+06  7.432685e+06  7.432685e+06  7.432685e+06  7.432685e+06
mean   1.235202e+07  5.642398e+00  2.075824e+02  7.612796e+02  2.041405e+00
std    7.625496e+06  2.740466e+01  3.372886e+02  4.789478e+03  1.206728e+00
min    0.000000e+00 -5.000000e+02 -2.167667e+04 -2.041080e+04  1.000000e+00
25%    1.858171e+06  1.000000e+00  6.000000e+01  1.279000e+02  1.000000e+00
50%    1.344877e+07  2.000000e+00  1.099000e+02  2.596000e+02  2.000000e+00
75%    1.988142e+07  4.672000e+00  1.999000e+02  5.990000e+02  3.000000e+00
max    2.173959e+07  4.952000e+03  2.899990e+04  6.865242e+05  4.000000e+00

--------------------------------------------------

Dataset: Online Sales DataFrame
Missing values:
Unnamed: 0    0
date          0
item_id       0
quantity      0
price_base    0
sum_total     0
store_id      0
dtype: int64

Column value counts (for categorical columns):

date value counts:
date
2024-04-06    2688
2024-04-13    2672
2024-04-07    2635
2024-05-04    2608
2024-03-30    2597
2024-02-10    2572
2024-03-16    2544
2024-05-17    2535
2024-05-08    2532
2024-04-27    2491
Name: count, dtype: int64

item_id value counts:
item_id
a162df3be29c    1047
0973df3ff57f    1046
b4f43c361b93    1041
6d284b4e9982    1040
645f94a90143    1039
ff98ba8bebb4    1034
64c1232b5455    1030
9b4865c6faf1    1029
f42ab260c307    1018
fe8449f16860    1014
Name: count, dtype: int64

Summary statistics (for numerical columns):
         Unnamed: 0      quantity    price_base     sum_total      store_id
count  1.123412e+06  1.123412e+06  1.123412e+06  1.123412e+06  1.123412e+06
mean   1.295207e+06  2.194757e+00  1.497957e+02  2.259123e+02  1.659448e+00
std    8.939419e+05  3.879657e+00  2.193683e+02  4.205360e+02  1.242366e+00
min    0.000000e+00  2.000000e-03 -8.458330e+03 -3.418800e+02  1.000000e+00
25%    2.808528e+05  1.000000e+00  4.334000e+01  6.148000e+01  1.000000e+00
50%    1.789196e+06  1.000000e+00  7.869500e+01  1.109600e+02  1.000000e+00
75%    2.070048e+06  2.000000e+00  1.692625e+02  2.229000e+02  1.000000e+00
max    2.350901e+06  9.990000e+02  1.217162e+04  4.355644e+04  4.000000e+00

--------------------------------------------------

Dataset: Markdown DataFrame
Missing values:
Unnamed: 0      0
date            0
item_id         0
normal_price    0
price           0
quantity        0
store_id        0
dtype: int64

Column value counts (for categorical columns):

date value counts:
date
2023-09-03    48
2024-06-04    46
2023-08-08    40
2023-09-04    39
2024-06-02    37
2023-08-06    36
2023-08-10    36
2024-01-26    36
2024-06-03    35
2023-09-08    35
Name: count, dtype: int64

item_id value counts:
item_id
e7ff6ea67040    491
bc2f82a22e11    480
d63b63612407    433
389412076801    385
3a95d538a917    385
0e39cf5d57c1    337
dd94e2bc5601    325
f0c2857afa61    315
95879f411e24    312
44c942fe217c    294
Name: count, dtype: int64

Summary statistics (for numerical columns):
         Unnamed: 0  normal_price        price     quantity     store_id
count   8979.000000   8979.000000  8979.000000  8979.000000  8979.000000
mean   18744.353269    358.352823   213.296578     3.070545     1.912797
std    11803.655972    220.119491   141.789922     4.236914     1.045986
min        0.000000      0.000000    12.500000     0.115000     1.000000
25%    15252.500000    189.000000   100.000000     1.000000     1.000000
50%    17497.000000    239.000000   150.000000     2.000000     2.000000
75%    28858.500000    549.000000   330.000000     4.000000     2.000000
max    35037.000000   2790.000000  1380.500000   120.000000     4.000000

--------------------------------------------------

Dataset: Price History DataFrame
Missing values:
Unnamed: 0    0
date          0
item_id       0
price         0
code          0
store_id      0
dtype: int64

Column value counts (for categorical columns):

date value counts:
date
2023-08-02    4934
2022-11-23    4002
2023-08-03    3932
2022-12-07    3786
2024-05-06    3460
2024-07-31    3405
2024-04-24    3361
2024-01-17    3358
2024-08-28    3354
2023-12-20    3328
Name: count, dtype: int64

item_id value counts:
item_id
f1749f4b783b    559
c017b9238f7a    524
64c1232b5455    506
92543c68fd9b    495
0973df3ff57f    483
d62802f81f16    471
2e23779dff93    469
e6bb5d4bc66d    468
cf25e00677a9    467
74f71e5c9e5c    467
Name: count, dtype: int64

Summary statistics (for numerical columns):
         Unnamed: 0         price          code       store_id
count  6.986260e+05  6.986260e+05  6.986260e+05  698626.000000
mean   9.916036e+05  6.737037e+02  5.518547e+08       1.970169
std    6.403421e+05  2.013703e+05  2.283421e+09       1.098378
min    0.000000e+00  0.000000e+00  1.000000e+00       1.000000
25%    6.486332e+05  6.590000e+01  1.000000e+00       1.000000
50%    1.061548e+06  1.499000e+02  1.000000e+01       2.000000
75%    1.626984e+06  3.599000e+02  2.900000e+01       3.000000
max    1.885032e+06  1.184967e+08  1.000000e+10       4.000000

--------------------------------------------------

Dataset: Discount History DataFrame
Missing values:
Unnamed: 0                      0
date                            0
item_id                         0
sale_price_before_promo         0
sale_price_time_promo           0
promo_type_code            317846
doc_id                          0
number_disc_day                 0
store_id                        0
dtype: int64

Column value counts (for categorical columns):

date value counts:
date
2024-05-06    7404
2024-07-17    7387
2024-08-28    7376
2024-03-27    7283
2024-03-13    7272
2024-09-11    7256
2024-07-03    7109
2024-06-05    7086
2024-08-14    7083
2024-06-19    7061
Name: count, dtype: int64

item_id value counts:
item_id
8250099a8aff    34108
99d388c37359    34108
2c007023f650    34108
e5b2b6f57ea7    34108
23b18d1f7da9    34108
9f716dce9a57    25581
74e842023e03     9993
9c9221fd01bc     9993
80f149ef4ee5     9993
c18d20ea2baa     9993
Name: count, dtype: int64

doc_id value counts:
doc_id
baa3d490-5529-11ed-bb91-005056afbcf1    196121
09bb9baf-8a6d-11ec-b591-005056861040     36641
8bd1d673-fbd7-11ee-bb94-005056afbcf1     23769
4bd84294-815b-11ed-bb93-005056afbcf1     21624
5b2a5986-815b-11ed-bb93-005056afbcf1     17928
45e0c4c5-7b0f-11ef-bb95-005056afbcf1     15648
315a45f6-ce2f-11ed-bb93-005056afbcf1     14560
9f5441f1-052b-11ee-bb93-005056afbcf1     13776
dcb9256b-e43a-11ed-bb93-005056afbcf1     13692
9e905c9e-1b51-11ee-bb93-005056afbcf1     13566
Name: count, dtype: int64

Summary statistics (for numerical columns):
         Unnamed: 0  sale_price_before_promo  sale_price_time_promo  \
count  3.746744e+06             3.746744e+06           3.746744e+06
mean   7.227914e+06             4.253020e+02           3.340184e+02
std    2.790196e+06             6.575774e+02           5.133992e+02
min    3.648316e+06             0.000000e+00           0.000000e+00
25%    4.585002e+06             8.490000e+01           6.990000e+01
50%    7.522214e+06             1.799000e+02           1.499000e+02
75%    1.047746e+07             4.999000e+02           3.899000e+02
max    1.142093e+07             1.699990e+04           1.599990e+04

       promo_type_code  number_disc_day      store_id
count     3.428898e+06     3.746744e+06  3.746744e+06
mean      5.662295e+00     2.863346e+02  2.034975e+00
std       1.858387e+00     1.179529e+03  1.159682e+00
min       1.000000e+00     1.000000e+00  1.000000e+00
25%       5.000000e+00     4.000000e+00  1.000000e+00
50%       5.000000e+00     8.000000e+00  2.000000e+00
75%       6.000000e+00     1.300000e+01  3.000000e+00
max       4.400000e+01     8.766000e+03  4.000000e+00

--------------------------------------------------

Dataset: Actual Matrix DataFrame
Missing values:
Unnamed: 0    0
item_id       0
date          0
store_id      0
dtype: int64

Column value counts (for categorical columns):

item_id value counts:
item_id
c578da8e8841    4
877394ec9110    4
f42ab260c307    4
38c545eaea11    4
a4573587ad51    4
ec30f9d70734    4
2a1e0f23e5cd    4
2a3a5d1ad053    4
618a0837e888    4
618d3433f173    4
Name: count, dtype: int64

date value counts:
date
2023-12-13    9793
2019-10-17    5190
2023-09-13     763
2020-02-25     439
2024-02-08     163
2024-04-20     131
2024-09-03     130
2024-06-28     128
2024-03-25     120
2024-08-12     103
Name: count, dtype: int64

Summary statistics (for numerical columns):
         Unnamed: 0      store_id
count  35202.000000  35202.000000
mean   17600.500000      2.465599
std    10162.086425      1.346344
min        0.000000      1.000000
25%     8800.250000      1.000000
50%    17600.500000      2.000000
75%    26400.750000      4.000000
max    35201.000000      4.000000

--------------------------------------------------

In [ ]:
# Plot distribution of store_id across datasets
plt.figure(figsize=(12, 6))
sns.countplot(x='store_id', data=sales_df)
plt.title('Distribution of Store IDs in Sales Data')
plt.xlabel('Store ID')
plt.ylabel('Count')
plt.show()

plt.figure(figsize=(12, 6))
sns.countplot(x='store_id', data=online_df)
plt.title('Distribution of Store IDs in Online Sales Data')
plt.xlabel('Store ID')
plt.ylabel('Count')
plt.show()

# Plot distribution of item_id in markdown_df
plt.figure(figsize=(12, 6))
top_items = markdown_df['item_id'].value_counts().head(10)
sns.barplot(x=top_items.index, y=top_items.values)
plt.title('Top 10 Most Frequent Items in Markdown Data')
plt.xlabel('Item ID')
plt.ylabel('Frequency')
plt.xticks(rotation=45)
plt.show()

# Plot distribution of promo_type_code in discount_history_df
plt.figure(figsize=(12, 6))
sns.countplot(x='promo_type_code', data=discount_history_df)
plt.title('Distribution of Promo Type Codes in Discount History Data')
plt.xlabel('Promo Type Code')
plt.ylabel('Count')
plt.show()

# Plot distribution of quantity in sales_df
plt.figure(figsize=(12, 6))
sns.histplot(sales_df['quantity'], bins=50, kde=True)
plt.title('Distribution of Quantity in Sales Data')
plt.xlabel('Quantity')
plt.ylabel('Frequency')
plt.show()

# Plot distribution of price in price_history_df
plt.figure(figsize=(12, 6))
sns.histplot(price_history_df['price'], bins=50, kde=True)
plt.title('Distribution of Price in Price History Data')
plt.xlabel('Price')
plt.ylabel('Frequency')
plt.show()

# Checking how much the data influences each other

In [ ]:
# Function to plot correlation matrix
def plot_correlation_matrix(df, title):
    plt.figure(figsize=(10, 8))
    correlation_matrix = df.corr()
    sns.heatmap(correlation_matrix, annot=True, fmt=".2f", cmap="coolwarm", cbar=True)
    plt.title(title)
    plt.show()

# Plot correlation matrix for each dataset
plot_correlation_matrix(sales_df.select_dtypes(include=['float64', 'int64']), "Correlation Matrix: Sales Data")
plot_correlation_matrix(online_df.select_dtypes(include=['float64', 'int64']), "Correlation Matrix: Online Sales Data")
plot_correlation_matrix(markdown_df.select_dtypes(include=['float64', 'int64']), "Correlation Matrix: Markdown Data")
plot_correlation_matrix(price_history_df.select_dtypes(include=['float64', 'int64']), "Correlation Matrix: Price History Data")
plot_correlation_matrix(discount_history_df.select_dtypes(include=['float64', 'int64']), "Correlation Matrix: Discount History Data")
plot_correlation_matrix(actual_matrix_df.select_dtypes(include=['float64', 'int64']), "Correlation Matrix: Actual Matrix Data")

In [ ]:
import sqlite3

# Create a SQLite database
conn = sqlite3.connect('retail_data.db')
cursor = conn.cursor()

# Create tables
cursor.execute('''
CREATE TABLE sales (
    id INTEGER PRIMARY KEY,
    date TEXT,
    item_id TEXT,
    quantity REAL,
    price_base REAL,
    sum_total REAL,
    store_id INTEGER
)
''')

cursor.execute('''
CREATE TABLE online_sales (
    id INTEGER PRIMARY KEY,
    date TEXT,
    item_id TEXT,
    quantity REAL,
    price_base REAL,
    sum_total REAL,
    store_id INTEGER
)
''')

cursor.execute('''
CREATE TABLE markdowns (
    id INTEGER PRIMARY KEY,
    date TEXT,
    item_id TEXT,
    normal_price REAL,
    price REAL,
    quantity REAL,
    store_id INTEGER
)
''')

cursor.execute('''
CREATE TABLE price_history (
    id INTEGER PRIMARY KEY,
    date TEXT,
    item_id TEXT,
    price REAL,
    code INTEGER,
    store_id INTEGER
)
''')

cursor.execute('''
CREATE TABLE discount_history (
    id INTEGER PRIMARY KEY,
    date TEXT,
    item_id TEXT,
    sale_price_before_promo REAL,
    sale_price_time_promo REAL,
    promo_type_code REAL,
    doc_id TEXT,
    number_disc_day REAL,
    store_id INTEGER
)
''')

cursor.execute('''
CREATE TABLE actual_matrix (
    id INTEGER PRIMARY KEY,
    item_id TEXT,
    date TEXT,
    store_id INTEGER
)
''')

# Insert data into tables
sales_df.to_sql('sales', conn, if_exists='replace', index=False)
online_df.to_sql('online_sales', conn, if_exists='replace', index=False)
markdown_df.to_sql('markdowns', conn, if_exists='replace', index=False)
price_history_df.to_sql('price_history', conn, if_exists='replace', index=False)
discount_history_df.to_sql('discount_history', conn, if_exists='replace', index=False)
actual_matrix_df.to_sql('actual_matrix', conn, if_exists='replace', index=False)

# Merge datasets with similarities
# Example: Merge sales and online_sales on item_id, date, and store_id
cursor.execute('''
CREATE VIEW merged_sales AS
SELECT 
    s.id AS sales_id,
    o.id AS online_sales_id,
    s.date,
    s.item_id,
    s.quantity AS sales_quantity,
    o.quantity AS online_quantity,
    s.price_base AS sales_price_base,
    o.price_base AS online_price_base,
    s.sum_total AS sales_sum_total,
    o.sum_total AS online_sum_total,
    s.store_id
FROM sales s
LEFT JOIN online_sales o
ON s.item_id = o.item_id AND s.date = o.date AND s.store_id = o.store_id
''')

# Example: Merge markdowns and price_history on item_id and store_id
cursor.execute('''
CREATE VIEW merged_markdowns_price_history AS
SELECT 
    m.id AS markdown_id,
    p.id AS price_history_id,
    m.date AS markdown_date,
    p.date AS price_history_date,
    m.item_id,
    m.normal_price,
    m.price AS markdown_price,
    p.price AS price_history_price,
    m.store_id
FROM markdowns m
LEFT JOIN price_history p
ON m.item_id = p.item_id AND m.store_id = p.store_id
''')

# Commit changes and close connection
conn.commit()
conn.close()

To determine the best target and features for implementing a predictive model, 
we need to consider the problem statement and the available data. 
The objective is to **forecast customer demand** for a given set of products across multiple stores. 
This involves predicting the quantity of items sold, which directly impacts stock management and operational efficiency.

### **Best Target**
The best target variable for this problem is:
- **`quantity`**: This variable represents the number of items sold for a given product (`item_id`) on a specific date (`date`) and store (`store_id`). 
Predicting `quantity` aligns with the goal of forecasting customer demand.

### **Best Features**
The best features should be selected based on their relevance to predicting `quantity`. 
Below is a detailed explanation of the potential features from the datasets:

#### **1. Temporal Features**
- **`date`**: The date of the transaction is critical for identifying trends, seasonality, and patterns in sales. For example, sales may increase during holidays or weekends.
    - **Derived Features**: Extract day, month, year, day of the week, and whether the date is a holiday or weekend.

#### **2. Product Features**
- **`item_id`**: The unique identifier for each product. Different products may have different demand patterns.
    - **Derived Features**: Group products into categories (if available) or use historical sales data to calculate average sales per product.

#### **3. Store Features**
- **`store_id`**: The unique identifier for each store. Different stores may have varying customer bases and demand patterns.
    - **Derived Features**: Include store-specific attributes like location, size, or customer demographics (if available).

#### **4. Pricing Features**
- **`price_base`** (from `sales_df` and `online_df`): The base price of the product. Pricing directly influences demand.
- **`normal_price`** and **`price`** (from `markdown_df`): The normal price and discounted price of the product. Discounts can significantly impact sales.
- **`sale_price_before_promo`** and **`sale_price_time_promo`** (from `discount_history_df`): These provide insights into promotional pricing and its effect on demand.

#### **5. Promotion Features**
- **`promo_type_code`** (from `discount_history_df`): The type of promotion applied. Different promotions may have varying impacts on sales.
- **`number_disc_day`**: The number of days a discount was active. Longer promotions may lead to higher sales.

#### **6. Historical Sales Features**
- **`quantity`** (from `sales_df` and `online_df`): Historical sales data is crucial for forecasting future demand.
    - **Derived Features**: Calculate moving averages, rolling sums, and lag features (e.g., sales in the past 7 days, 30 days, etc.).

#### **7. Inventory Features**
- **`actual_matrix_df`**: This dataset provides information about the availability of products (`item_id`) in stores (`store_id`) on specific dates (`date`). Stock availability is a key factor in determining sales.

#### **8. External Factors**
- **Holidays and Events**: Incorporate external data about holidays, festivals, or special events that may influence demand.
- **Weather Data**: If available, weather conditions can also impact sales (e.g., increased demand for certain products during rainy or hot weather).

### **Feature Engineering**
To improve the predictive power of the model, additional features can be engineered:
1. **Lag Features**: Include lagged sales data (e.g., sales 1 week ago, 1 month ago).
2. **Cumulative Features**: Cumulative sales for a product or store over a specific period.
3. **Interaction Features**: Interaction between price and promotion (e.g., price * promo_type_code).
4. **Seasonality Features**: Identify seasonal trends (e.g., higher sales in summer or winter).

### **Feature Selection**
After feature engineering, statistical methods (e.g., correlation analysis, mutual information) or machine learning techniques (e.g., feature importance from tree-based models) can be used to select the most relevant features.

### **Conclusion**
- **Target**: `quantity`
- **Best Features**:
    - Temporal: `date` (with derived features like day, month, year, etc.)
    - Product: `item_id`
    - Store: `store_id`
    - Pricing: `price_base`, `normal_price`, `price`, `sale_price_before_promo`, `sale_price_time_promo`
    - Promotion: `promo_type_code`, `number_disc_day`
    - Historical Sales: Lagged and cumulative sales data
    - Inventory: Stock availability from `actual_matrix_df`
    - External: Holidays, events, and weather data (if available)

By combining these features, the model can effectively capture the factors influencing customer demand and provide accurate forecasts.